.btn{
  border: 0px !important;
}

/* =========== Extra Responsive CSS =========== */

@media (min-width: 1200px) {
      .login-wrapper{
          min-height: 420px;
      }
}

@media (min-width: 768px) {
  .card.business .address{
    min-height: 66px;
  }
}


@media (max-width: 500px) {
  .biz-search{
    padding: 50px 0 !important;
  }

  .section-front{
    padding: 10px 0;
  }

    #changethewords {
      margin-top: 0px;  
    }

    section {
        padding: 15px 0px;
    }
    .header-topbar .contact-info {
        float: left;
    }
    .header-topbar .contact-info .nav.navbar-nav > li{
      border-right: 0;
    }
    .mobilehide{
        display: none !important;
    }

    .display_search{
      width: 100%;
    }

    h2 {
        font-size: 23px;
    }

    .home-search .btn-biz{
      padding: 12px 30px;
    }

    .no-mobile {
      display: none;
  }

  .panel-default.card {
    margin-bottom: 0;
}

  .section-heading {
      font-size: 24px;
      font-weight: unset;
      color: #29a036;
      text-align: center;
      margin-bottom: 5px;
  }

  .search-row .col-md-4 {
    padding: 0;
}

.card-default section.card-top {
    padding-top: 10px;
}

.card-default .card-top h2 {
    font-size: 22px;
    text-align: center;
}

.map-wrapper {
    position: relative;
    display: inline-block;
    margin: 20px 0;
}

}

/* =========== LAPTOPS =========== */

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}