.btn{
  border: 0px !important;
}

/* =========== Extra Responsive CSS =========== */

@media (min-width: 1200px) {
      .login-wrapper{
          min-height: 420px;
      }
}

@media (min-width: 768px) {
  .card.business .address{
    min-height: 66px;
  }
}


@media (max-width: 768px) {
  button.navbar-toggle {
      display: none;
  }

  a.navbar-brand.text {
      font-size: 24px;
      line-height: 24px;
      padding: 12px 0;
      margin: 15px auto !important;
      display: block;
      width: 170px;
      float: initial;
  }

  .search-row > div.col-md-6 .item-card-img{
    display: none;
  }

  #bs-example-navbar-collapse-1 {
    position: fixed;
    top: 0;
    left: 15px;
    z-index: 99;
    width: 280px;
    height: 100%;
    background-color: #ddd;
    overflow: auto;
  }
  .menu-overlay {
    display: none;
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    filter: alpha(opacity=50);
    /* IE7 & 8 */
    position: fixed;
    right: 0;
    top: 0;
    z-index: 49;
  }

  .biz-form.home-search{
    width: 100%;
  }
  .home-search input.search-text{
    width: 200px;
  }
  .biz-search{
    padding: 50px 0 !important;
  }

  .section-front{
    padding: 10px 0;
  }

    #changethewords {
      margin-top: 0px;  
    }

    section {
        padding: 15px 0px;
    }
    .header-topbar .contact-info {
        float: left;
    }
    .header-topbar .contact-info .nav.navbar-nav > li{
      border-right: 0;
    }
    .mobilehide{
        display: none !important;
    }

    .no-mobile {
        display: none;
    }

    .clear-mob-pd{
      padding:0;
    }

    .display_search{
      width: 100%;
    }

    h2 {
        font-size: 23px;
    }

    .home-search .btn-biz{
      padding: 12px 30px;
    }

.card.business .panel-body{
  padding: 5px;
}

.card.business .address{
  min-height: 30px;
}
 

  .panel-default.card {
    margin-bottom: 0;

}

  .section-heading, h3.section-title {
      font-size: 24px;
      font-weight: unset;
      color: #29a036;
      text-align: center;
      margin-bottom: 5px;
  }

  section.category{
    padding-top: 0;
    background:#FFF;
  }

  h3.section-title {
      margin: 0;
      padding: 15px 0;
      background: #FFF;
      border-top: 2px solid;
      border-bottom: 1px solid;
  }


.category-bx .category {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #cdcdcd;
    width: 100%;
    height: auto;
}

.category-bx .category i {
    font-size: 24px;
    line-height: 30px;
    float: left;
    padding: 0 15px;
    border-right: 1px solid;
    width: 60px;
    display: inline-block;
}

.category-bx .category p {
    text-align: left;
    padding: 0 15px;
    display: inline-block;
    width: 210px;
}
  .search-row .col-md-4 {
    padding: 0;
}

.card-default section.card-top {
    padding-top: 10px;
}

.card-default .card-top h2 {
    font-size: 22px;
    text-align: center;
}

.map-wrapper {
    position: relative;
    display: inline-block;
    margin: 20px 0;
}

.otherbusiness{
  margin: 0;
  padding: 0;
}

.otherbusiness .container{
  display: inline-block;
  width: 100%;
}

.box-card-detail{
  box-shadow: none;
  border: 0px;
}


#bottomNav {
    display: block;
    position: fixed;
    width: 100%;
    background: #18ab9b;
    border-top: 2px solid #29a036;
    bottom: 0;
    z-index: 99;
    margin: 0;
    color: #FFF;
    box-shadow: 0 -2px 5px -2px #333;
}

#bottomNav .menu-item {
    width: 25%;
    float: left;
    text-align: center;
    padding: 10px 5px;
    font-size: 12px;
    height: 50px;
}

#bottomNav .menu-item:hover,#bottomNav .menu-item:active {
    background: #2ecc71;
    font-size: 12px;
}

#bottomNav a {
    color: #FFF;
    text-decoration: none;
}

#bottomNav a:hover {
    color: #FFF;
    text-decoration: none;
}

}

/* =========== LAPTOPS =========== */

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}